::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

.btn {
  background: #873ebb;
  color: white;
  border-radius: 5px;
  border: 1px;
}

.bar {
  margin-left: auto;
  margin-right: auto;
  margin-top: 0px;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1), 0px 2px 8px 0px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0px 35px 15px -15px #873ebb;
  text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.2);
  background-color: #653893;
  color: white;
  text-align: center;
  font-family: 'Lexend Deca';
  font-size: 32px;
}

.mainContainer {
  background-color: #fbf2ff;
  margin-top: 5%;
  left: 50%;
  top: 50%;
  height: 60%;
  width: 40%;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.05), 0 6px 20px 0 rgba(0, 0, 0, 0.05);
  overflow: auto;
}

.loginContainer {
  width: 70%;
  padding: 10px;
  padding-top: 0px;
  margin: auto;
  text-align: center;
}

.loginForms {
  border: #873ebb;
  border-width: 1px;
  border-style: solid;
  box-shadow: inset 0 4px 8px 0 rgba(0, 0, 0, 0.05), 0 6px 20px 0 rgba(0, 0, 0, 0.05);
  background-color: white;
}

.error {
  color: #bd1a1a;
  text-align: center;
}

.message {
  text-align: center;	
}

#remember_me {
  font-family: 'Lexend Deca';
  margin-top: 5%;
  box-shadow: inset 0px 35px 15px -15px #873ebb;
  background-color: #653893;
  border: 1px solid #3d3147;
  border-radius: 10px;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: 'Lexend Deca';
  font-size: 15px;
  padding: 9px 23px;
  text-align: center;
  text-decoration: none;
  text-shadow: 0px -1px 0px #7a2a1d;
}
#submit1 {
  font-family: 'Lexend Deca';
  margin-top: 5%;
  box-shadow: inset 0px 35px 15px -15px #873ebb;
  background-color: #653893;
  border: 1px solid #3d3147;
  border-radius: 10px;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: 'Lexend Deca';
  font-size: 15px;
  padding: 9px 23px;
  text-align: center;
  text-decoration: none;
  text-shadow: 0px -1px 0px #7a2a1d;
}
#submit2 {
  font-family: 'Lexend Deca';
  margin-top: 5%;
  box-shadow: inset 0px 35px 15px -15px #873ebb;
  background-color: #653893;
  border: 1px solid #3d3147;
  border-radius: 10px;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: 'Lexend Deca';
  font-size: 15px;
  padding: 9px 23px;
  text-align: center;
  text-decoration: none;
  text-shadow: 0px -1px 0px #7a2a1d;
}

a {
  margin-top: 5%;
  border-radius: 10px;
  display: inline-block;
  cursor: pointer;
  color: #873ebb;
  font-family: 'Lexend Deca';
  font-size: 15px;
  padding: 9px 23px;
  text-align: center;
  text-decoration: underline;
}

label {
  font-family: 'Lexend Deca';
}

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
  background-color: #d8d1de;
}