<!DOCTYPE html>
<html>
<link rel="stylesheet" href="{{ url_for('static',filename='styles/borgar.css') }}">
<link href='https://fonts.googleapis.com/css?family=Lexend Deca' rel='stylesheet'>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<title>Log In</title>
<body>
<button class="btn" onclick="window.location.href = '/'"><i class="fa fa-home"></i></button>
<div class="mainContainer">
    <h1 class="bar">Borgar</h1>
</div>
</body>
</html>

