<!DOCTYPE html>
<html>
        <link rel="stylesheet" href="{{ url_for('static',filename='styles/loginSignup.css') }}">
<link href='https://fonts.googleapis.com/css?family=Lexend Deca' rel='stylesheet'>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<title>Find a Friend</title>
<body>
<button class="btn"><i class="fa fa-home"></i></button>
<div class = "mainContainer">
<h1 class = "bar">Find a Friend!</h1>
{% block friend %}
<!-- Action URL will need to be updated once the script to handle user info is written-->
<div class = "loginContainer">
{% for message in get_flashed_messages() %}
    <h2>{{ message }}<br/></h2>
{% endfor %}
<form action="" method="POST" id="Find a Friend" novalidate>
    {{ form.hidden_tag() }}
    <p>
    {{ form.username.label }}<br>
    {{ form.username(size=32) }}
    </p>
    <p>{{ form.submit3() }}</p>
</form>
{% endblock %}
</div>
</div>

</body>
</html>