<!DOCTYPE html>
<html>
<link rel="stylesheet" href="homeStyle.css">

<link href='https://fonts.googleapis.com/css?family=Lexend Deca' rel='stylesheet'>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<head>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8">
  <title>Home</title>
</head>
<body>
	<div class="row">
		<div class="column">
			<div class="homeContainer">
			<h1 class="bar">
			Search New Menus
			</h1>
			<a class="searchLink" href="/menu-search"><img id="searchimg"
                                                     src="https://cdn2.iconfinder.com/data/icons/font-awesome/1792/search-512.png">
			</a>
			<p class = "desc">Search for new menus to add to your account.</p>
		</div>
	</div>
		<div class="column">
			<div class="homeContainer">
				<h1 class="bar">
					Browse Your Menus
				</h1>
				<a href="/menu-browse"> <img id="browseimg"
                                   src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/b2/Hamburger_icon.svg/1200px-Hamburger_icon.svg.png"></a>
				<p class = "desc">Browse menus that you have added to your account.</p>
			</div>
		</div>
		<div class="column">
			<div class="homeContainer">
				<h1 class="bar">
					Account
				</h1>
				<p>
					<a class = "accountbtn" href ="/login">Login</a>
					<a class = "accountbtn" href ="/signup">Signup</a>

				</p>
			</div>
		</div>
	</div>
</body>
