<!DOCTYPE html>
<html>
        <link rel="stylesheet" href="{{ url_for('static',filename='styles/loginSignup.css') }}">
<link href='https://fonts.googleapis.com/css?family=Lexend Deca' rel='stylesheet'>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<title>Log In</title>
<body>
<button class="btn"><i class="fa fa-home"></i></button>
<div class = "mainContainer">
  {% if invalid %}
 	<h2 class="error"> Incorrect username or password, try again.</h2>
  {% endif %}
<h1 class = "bar">Login</h1>
{% block login %}
<!-- Action URL will need to be updated once the script to handle user info is written-->
<div class = "loginContainer">
<form action="" method="POST" id="logIn" novalidate>
  {{ form.hidden_tag() }}
  <p>
    {{ form.username.label }}<br>
    {{ form.username(size=32) }}
  </p>
  <p>
    {{ form.password.label }}<br>
    {{ form.password(size=32) }}
  </p>
  <p>{{ form.remember_me() }} {{ form.remember_me.label }}</p>
  <p>{{ form.submit1() }}</p>
</form>
{% endblock %}
<a href="/signup/">Or sign up if you don't have an account!</a>
</div>
</div>

</body>
</html>

