<!DOCTYPE html>
<html>
    <head>
        <title>{{ title }}</title>
        <link rel="stylesheet" href="{{ url_for('static',filename='styles/menu-browse.css') }}">
    </head>
    <body class="code">
        <h1 class="title">{{ title }}</h1>

        {% for restaurant in restaurants %}
		<a href="{{ restaurant.link }}">
			<div class="restaurant-item">
			
				<div class="left">
					<p class="title">{{ restaurant.name }}</p>
					<img src="{{ restaurant.photo }}" width="100px" height="100px">
				</div>
				
				<div class="middle">
					<p>{{ restaurant.address }}</p>
					<p>{{ restaurant.timing }}</p>
					<p>{{ restaurant.priceRange }}</p>
					<p>{{ restaurant.rating }}</p>
				</div>
				
				{% if isAdd %}
				<div class="right">
					<button class="add">Add {{ restaurant.name }}"</button>
				</div>
				{% endif %}
				
			</div>
		</a>
        {% endfor %}
    </body>
</html>