<!DOCTYPE html>
<html>
    <head>
        <title>{{ title }}</title>
        <link rel="stylesheet" href="{{ url_for('static',filename='styles/menu-browse.css') }}">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>
    <body class="code">
		<button class="btn" onclick="window.location.href = '/'"><i class="fa fa-home"></i></button>
		<div>
        <h1 class="title">{{ title }}</h1>
		
		{% if isAdd %}
		<button class="compare" onclick="window.location.href='{{ url_for('menu_compare') }}'">Compare With Friends' Restaurants</button>
		{% endif %}

        {% for restaurant in restaurants %}
		<div class="restaurant-item">
			<div class="info">
				<p>Address: {{ restaurant.address }}</p>
				<p>Open: {{ restaurant.timing }}</p>
				<p>Average Price: {{ restaurant.priceRange }}</p>
				<p>Rating: {{ restaurant.rating }}</p>
			</div>
		
			<div class="main">
				<p class="title">{{ restaurant.name }}</p>
				<img src="{{ restaurant.photo }}" width="100px" height="100px">
				<br/>
				<button class="view button" onclick="window.location.href = '{{ restaurant.link }}'">View</button>
			</div>
			
			<div class="add">
				{% if isAdd %}
				<button class="button">Add</button>
				{% endif %}
			</div>
		</div>
        {% endfor %}
		</div>
    </body>
</html>