<!DOCTYPE html>
<html>
    <head>
        <title>{{ title }}</title>
        <link rel="stylesheet" href="{{ url_for('static',filename='styles/menu-compare.css') }}">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>
    <body class="code">
        <button class="btn" onclick="window.location.href = '/'"><i class="fa fa-home"></i></button>
		<h1>{{ title }}</h1>

        <form action="{{ url_for('menu_compare') }}" class="form" method="POST">

            <p>Your Friends</p>
            <select name="users" multiple>
                {% for user in users %}
                <option value="{{ user.username }}">{{ user.username }}</option>
                {% endfor %}
            </select>
			
			<br/>
			<br/>
			
            <input type="submit" class="center button" name="union" value="All Restaurants">
			<input type="submit" class="center button" name="intersection" value="Only Restaurants in Common">

        </form>
    </body>
</html>